<div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Список задач</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>#</th>
          <th>Название</th>
          <th>Категория</th>
          <th>Приоритет</th>
          <th>Дата</th>
          <th>Статус</th>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index" [class.complited]="task.completed">
            <td>{{i+1}}</td>
            <td>{{task.title}}</td>
            <td [class.novalue]="task.category == null">{{task.category !=null ? task.category.title: 'Без категории'}}</td>
            <td [class.novalue]="task.priority == null">{{task.priority !=null ? task.priority.title: 'Без приоритета'}}</td>
            <td [class.novalue]="task.date == null">{{task.date !=null ? (task.date | date :'short'): 'Без даты'}}</td>
            <td>
              <div class="form-check">
                  <label class="form-check-label">
                      <input [checked]="task.completed" class="form-check-input" type="checkbox" value="" 
                      (click)='toggleTaskComplited(task)'
                      >
                      <span class="form-check-sign">
                      <span class="check"></span>
                      </span>
                  </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
