<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag-->
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li (click) = "showTasksByCategory(category)"
            *ngFor="let category of categories" class="nav-item pointer" 
            [class.active]="category === selectedCategory"
        >
          <a class="nav-link">
            <p>{{category.title}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>